# Fichiers Python compilés
__pycache__/
*.pyc

# Environnement virtuel
.venv/
env/
venv/
.env
.aws/


# Fichiers de configuration locale
.streamlit/secrets.toml

# Fichiers de logs
*.log

# Fichiers temporaires
*.swp
*.swo
*.swn

# Fichiers d'éditeur
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.html
app.log

# Fichiers système
.DS_Store
Thumbs.db
